.h{
	height:1000px;
	display:flex;
}
@mixin rotateTip($side: left,$size: 34px,$bgcolor: #f00,$color: #fff,$lineheight: 24px,$font-size:14px) {
	background-color: $bgcolor;
	color: $color;
	display: block;
	line-height: $lineheight;
	width: $size * 4;
	position: absolute;
	top:$size - $lineheight / 2;
	text-align: center;
	@if $side == left{
		transform:rotate(-45deg);
		left: $size - $size * 2;
	} @else if $side == right{
		transform:rotate(45deg);
		right: $size - $size * 2;
	}
	font-size: $font-size;
}

.test{
	@include rotateTip($color:#ddd,$lineheight: 20px,$font-size: 12px,$bgcolor:#f0f,$size:30px,$side:right);
}