@mixin cliptext{
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
$bannercolor:#a6d6dc;
body{
	font-family:Oswald,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: 300;
}
/* list.html sass start */
.c-list-selector{
	background-color: #ebeae8;
	margin-bottom: 54px;
	overflow:hidden;
	.g-container{
		margin-top: 50px;
		min-height: 200px;
		.c-list-badges{
			width:351px;
			height:466px;
			float:left;
			background:url("../images/badges.png") no-repeat;
			position:relative;
			.c-list-badgewrap{
				height:400px;
				span{
					display:block;
					width:73px;
					height:63px;
					position:absolute;
					cursor:pointer;
					opacity:.5;
					transition:transform .2s ease;
					&.c-badge-active{
						opacity:1;
						&:before,&:after{
							display:block;
							content:"";
							position:absolute;
						}
						&:before{
							top:-8px;
							right:9px;
							background-color: #f06468;
							border-radius: 50%;
							width:18px;
							height:18px;
							z-index: 2;
						}
						&:after{
							top:-5px;
							right:11px;
							border:2px solid transparent;
							border-color:transparent transparent #fff #fff;
							width:8px;
							height:4px;
							transform:rotate(-40deg);
							z-index: 3;
						}
					}
					&:hover{
						opacity: 1;
						transform:scale(1.1);
					}
					img{
						width:73px;
						height:63px;
					}
					&:nth-child(8n+1){
						top:63px;
						left:1px;
					}
					&:nth-child(8n+2){
						top:1px;
						left:109px;
					}
					&:nth-child(8n+3){
						top:125px;
						left:108px;
					}
					&:nth-child(8n+4){
						top:64px;
						left:217px;
					}
					&:nth-child(8n+5){
						top:63px;
						left:109px;
					}
					&:nth-child(8n+6){
						top:95px;
						left:54px;
					}
					&:nth-child(8n+7){
						top:33px;
						left:163px;
					}
					&:nth-child(8n){
						top:187px;
						left:109px;
					}
					&:nth-child(n+9){
						display:none;
					}
				}
			}
			.c-list-bigbadge{
				position: absolute;
				top: 293px;
				left: 38px;
				width: 108px;
			}
			.c-list-badgetext{
				position:absolute;
				width:170px;
				height:48px;
				line-height: 16px;
				font-size: 12px;
				top:316px;
				left:164px;
				font-weight: 300;
				overflow:hidden;
				color:#3d3a32;
			}
			.c-list-badges-swiper{
				position:absolute;
				top:168px;
				left:250px;
				i,span{
					display:inline-block;
					background:url("../../libs/images/icons.png") no-repeat;
					width:18px;
					height:22px;
					cursor:pointer;
				}
				span{
					background-position: -26px -37px;
				}
				i{
					background-position: 3px -37px;
				}
			}
		}

		.c-list-month-selector{
			float:left;
			width:729px;
			height:430px;
			position:relative;
			&:before{
				display:block;
				content:"";
				position:absolute;
				background-color: #fff;
				width:74px;
				height:2px;
				top:95px;
				left:-8px;
			}
			.t-map{
				width:660px;
				height:370px;
				background-color: #fff;
				border:2px solid #fff;
				float:right;
			}
			.c-list-years{
				width:198px;
				padding: 0 20px;
				margin-top: 20px;
				font-weight: 300;
				color:#a3a3a6;
				font-size: 12px;
				.swiper-wrapper{
					.swiper-slide{
						cursor:pointer;
						width:66px;
						height:22px;
						text-align: center;
						line-height: 18px;
						&.c-year-active span{
							background-color: #fff;
						}
						span{
							border: 2px solid #fff;
							border-right: none;
							display:block;
						}
						&:last-child span{
							border-right: 2px solid #fff;
						}
					}
				}
				.swiper-next,.swiper-prev{
					position:absolute;
					top:0;
					background: #EBEAE8 url("../../libs/images/icons.png") no-repeat;
					width:20px;
					height:22px;
					cursor:pointer;
					z-index: 2;
				}
				.swiper-next{
					right:-2px;
					background-position: -26px -37px;
				}
				.swiper-prev{
					left:0;
					background-position: 0 -37px;
				}
				.t-months{
					border-left:2px solid #fff;
					line-height: 16px;
					height:18px;
					text-align: center;
					margin-right: -2px;
					cursor:pointer;
					i{
						display:block;
						float:left;
						width:14px;
						border-bottom:2px solid #fff;
						border-right: 2px solid #fff;
						&:nth-child(3n){
							width:15px;
						}
						&.on{
							background-color: #fff;
						}
					}
				}
			}
			.c-list-listimgs{
				width:690px;
				margin-left: 39px;
				height:180px;
				.swiper-slide{
					width:95px;
					margin-right: 23px;
					a{
						img{
							width:95px;
							height:133px;
						}
					}
				}
				.swiper-pagination-bullet-active{
					background-color: #fff;
				}
			}
		}
	}
}

.c-container{
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding-bottom: 34px;
	position:relative;
	&:after{
		position:absolute;
		content:"";
		background-color: #fff;
		width:6px;
		display:block;
		height:200px;
		right:-50px;
		top:50%;
		margin-top: -100px;
	}
	.c-list-wrap{
		margin-left: 37px;
		.c-list-shownpart{
			overflow:hidden;
			background-color: #fafaf9;
			padding:10px 0 20px 34px;
			margin-bottom: 64px;
			.c-list-img{
				display: block;
				float:left;
				margin:18px 54px 0 0;
				position:relative;
				width:320px;
				height:450px;
				img{
					width:320px;
					height:450px;
				}
				&.c-list-closed:after{
					position:absolute;
					top:10px;
					right:-12px;
					content:'';
					display:block;
					width:63px;
					height:20px;
					background: url("../../libs/images/icons.png") no-repeat 0 -100px;
				}
			}
			.c-list-middle{
				float:left;
				width:260px;
				color:#221f1f;
				margin-right: 54px;
				position:relative;
				h3{
					font-size: 18px;
					font-weight: 300;
					line-height: 24px;
					width:260px;
					text-align: center;
					overflow:hidden;
					max-height: 48px;
					margin-top: 18px;
					margin-bottom: 10px;
				}
				.swiper-container{
					padding:0 15px;
					margin-bottom: 26px;
					.swiper-slide{
						width:45px;
						height:30px;
						text-align: center;
						img{
							width:34px;
						}
					}
					.swiper-button-next,.swiper-button-prev{
						width:15px;
						height:30px;
						background-image: url("../../libs/images/icons.png");
						background-repeat: no-repeat;
						top:0;
						background-size: auto;
						margin-top:auto;
						background-color: #fafaf9;
					}
					.swiper-button-next{
						background-position: -108px -33px;
						right:0;
					}
					.swiper-button-prev{
						background-position: -76px -33px;
						left:0;
					}
				}
				.c-list-detail{
					overflow: hidden;
					font-size: 14px;
					line-height: 20px;
					font-weight: 300;
					border-top:1px solid #ecebeb;
					width:590px;
					padding-top: 18px;
					height: 80px;
				}
				.t-team-member{
					width:580px;
					height:48px;
					margin-top: 35px;
					li{
						float:left;
						width:48px;
						height:48px;
						img{
							width:38px;
							height:38px;
							border-radius: 50%;
						}
						i{
							display:block;
							width:34px;
							height:34px;
							border:2px dotted #e3e1df;
							border-radius: 19px;
							position:relative;
							&:after{
								content:'';
								position:absolute;
								border-bottom: 2px dotted #e3e1df;
								width:19px;
								top:16px;
								left:7px;
							}
							&:before{
								content:'';
								position:absolute;
								border-left: 2px dotted #e3e1df;
								height:19px;
								left:16px;
								top:7px;
							}
						}
					}
				}
				.t-join{
					color:#fff;
					text-align: center;
					font-size:14px;
					margin:28px auto auto 24px;
					i{
						display:block;
						float:left;
						position:relative;
						width:38px;
						height:38px;
						border-radius: 19px;
						background-color: #ebe9e7;
						line-height: 38px;
						margin-right: 15px;
						span{
							display:block;
							width:28px;
							height:28px;
							font-size:12px;
							border-radius: 14px;
							background-color: #f28d90;
							position:absolute;
							top:5px;
							left:-23px;
							line-height: 18px;
							&:after{
								content:'LEFT';
								display:block;
								position:absolute;
								bottom:0;
								left:0;
								width:28px;
								font-size:12px;
								line-height: 14px;
								transform:scale(.67);
							}
						}
					}
					a{
						display:block;
						color:#fff;
						float:left;
						width:38px;
						height:38px;
						border-radius: 19px;
						background-color: #f28d90;
						line-height: 38px;
					}
				}
				.t-user-info{
					position:absolute;
					width: 270px;
					right:-320px;
					top:20px;
					text-align: center;
					.t-user-img{
						display:block;
						width:144px;
						height:144px;
						margin:auto;
						img{
							width:144px;
							height:144px;
							border-radius: 50%;
						}
					}
					i{
						display:block;
						line-height: 38px;
						font-size: 16px;
						@include cliptext;
					}
					span{
						display:block;
						line-height: 16px;
						font-size: 12px;
						@include cliptext;
					}
					button{
						display:block;
						margin:auto;
						width:170px;
						line-height: 34px;
						color:#fff;
						background-color: #ef6367;
						border:1px solid #f8b7b9;
						cursor: pointer;
						font-size: 18px;
						outline: none;
						margin-top:16px;
						&.d-disabled,&:hover{
							opacity:.5;
						}
					}
				}
			}
			.c-list-right{
				width:260px;
				overflow:hidden;
				min-height: 170px;
				li{
					line-height: 18px;
					max-height: 36px;
					color:#838386;
					font-size:14px;
					margin-bottom: 14px;
					font-weight: 300;
					overflow:hidden;
					transition:max-height .3s;
					&:hover{
						max-height:90px; 
					}
					i{
						float:left;
					}
					em{
						overflow:hidden;
						display:block;
						b{
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

.c-scores{
	width: 1000px;
	margin: 40px auto;
	overflow:hidden;
	font-family:Oswald,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	li{
		width:248px;
		border-right: 2px solid #fafafa;
		float:left;
		height:70px;
		&:last-child{
			border-right: none;
		}
		em,i{
			float:right;
			width:160px;
			line-height: 320px;
			margin-right: 10px;
			@include cliptext;
			text-overflow:clip;
		}
		em{
			color: #EA2127;
			font-size: 36px;
			line-height: 44px;
			font-weight: 100;
			text-align: center;

		}
		i{
			font-size: 18px;
			text-align: center;
			line-height: 24px;
			color: #ABAAAB;
			font-weight: 300;
		}
		.g-icon{
			margin:22px 0 0 48px;
			float:left;
		}
	}
}

.t-richtext-container{
	margin:60px auto;
	.t-richtext-left{
		width:845px;
		float:left;
		.t-item{
			padding:24px 40px;
			background-color: #fff;
			border-radius: 10px;
			margin-bottom: 15px;
			h1{
				line-height: 40px;
				font-size: 24px;
				@include cliptext;
				height:40px;
			}
			.t-sub-title{
				color:#7f7f82;
				font-size:14px;
				line-height: 28px;
			}
			.t-detail{
				border-bottom: 1px solid #dddedf;
				padding-bottom: 15px;
				overflow:hidden;
				margin-bottom: 12px;
				dd,dt{
					float:left;
				}
				dt{
					width:49.8%;
					border-right: 1px solid #dddedf;
					.swiper-container{
						padding:0 15px;
						margin:10px 0 20px;
						width:230px;
						.swiper-slide{
							width:45px;
							height:30px;
							text-align: center;
							img{
								width:34px;
							}
						}
						.swiper-button-next,.swiper-button-prev{
							width:15px;
							height:30px;
							background-image: url("../../libs/images/icons.png");
							background-repeat: no-repeat;
							top:0;
							background-size: auto;
							margin-top:auto;
							background-color: #fff;
						}
						.swiper-button-next{
							background-position: -108px -33px;
							right:0;
						}
						.swiper-button-prev{
							background-position: -76px -33px;
							left:0;
						}
					}
					span{
						display:block;
						line-height: 24px;
						font-size: 14px;
						color:#69696d;
					}
				}
				dd{
					width:50%;
					ul{
						margin-left:20px;
						overflow:hidden;
						padding-left: 34px;
					}
					li{
						float:left;
						font-weight: 300;
						.g-about-artist-title{
							line-height: 32px;
							span,em,a{
								display:inline-block;
								vertical-align: middle;
							}
							span{
								font-size: 24px;
								color:#221f1f;
								max-width: 170px;
								margin-right: 10px;
								@include cliptext;
								margin-top: -8px;
							}
							a{
								color:#fff;
								background-color: #f1f0ee;
								width:24px;
								height:24px;
								border-radius: 12px;
								font-size: 10px;
								line-height: 24px;
								text-align: center;
								vertical-align: middle;
							}
						}
						.g-about-artist-name{
							color:#807e7e;
							font-size: 14px;
							line-height: 28px;
						}
					}
					li:nth-child(1){
						text-align: center;
						width:70px;
						margin-right: 20px;
						img{
							width:64px;
							height:64px;
							border-radius: 50%;
						}
						button{
							display:block;
							width:70px;
							line-height: 18px;
							color:#fff;
							background-color: #e85c5f;
							font-weight: 300;
							border:1px solid #f8b7b9;
							cursor: pointer;
							font-size: 12px;
							margin-top:10px;
							outline: none;
							&.d-disabled{
								opacity:.5;
							}
						}
					}
					li:nth-child(2){
						padding-top:15px;
						width:210px;
						margin-right: 20px;
					}
				}
			}
			.t-switcher{
				border:1px solid #e3e4e5;
				overflow:hidden;
				color:#adadaf;
				line-height: 20px;
				font-size: 12px;
				text-align: center;
				width:210px;
				margin-bottom: 30px;
				li{
					float:left;
					width:50%;
					cursor:pointer;
					&.on{
						background-color:#e3e4e5;
					}
				}
			}
			.t-richtext-wrap{
				font-size: 14px;
				line-height: 20px;
				color:#221f1f;
				.t-richtext-item{
					display:none;
					&.show{
						display:block;
					}
				}
			}
		}
	}
	.t-richtext-right{
		float:right;
		width:220px;
		.t-item{
			padding:24px;
			background-color: #fff;
			border-radius: 10px;
			margin-bottom: 15px;
			.t-likes{
				margin-bottom: 12px;
				li{
					border-bottom: 1px solid #eeefef;
					line-height: 26px;
					height:26px;
					font-size: 14px;
					color:#939395;
					@include cliptext;
					.g-icon{
						float:left;
						margin-right: 10px;
						cursor:pointer;
					}
				}
			}
			.t-tips a{
				line-height: 16px;
				height:16px;
				display:inline-block;
				background-color: #f1f0ee;
				color:#939395;
				border:1px solid #e3e4e4;
				border-radius: 8px;
				font-size: 13px;
				padding: 0 5px;
				margin-bottom: 6px;
				margin-left: 4px;
			}
			.t-position{
				color:#656569;
				margin:-5px 0 5px;
				font-size: 16px;
				dt{
					text-align: center;
					line-height: 1;
					margin-bottom: 12px;
				}
				dd{
					height:36px;
					margin-bottom: 12px;
					position:relative;
					strong{
						display:block;
						background-color: #F06468;
						border-radius: 10px;
						width:14px;
						height:14px;
						position:absolute;
						left:24px;
						top:-1px;
						text-align: center;
						color:#fff;
						line-height: 16px;
						font-size: 10px;
						font-family: '微软雅黑';
						cursor:pointer;
					}
					i{
						line-height: 36px;
						@include cliptext;
						display:block;
					}
					a{
						display:block;
						float:left;
						margin-right: 8px;
						img{
							display:block;
							width:36px;
							height:36px;
							border-radius: 18px;
						}
					}
					.t-requirement{
						position:absolute;
						left:44px;
						top:32px;
						width:106px;
						line-height: 18px;
						background-color: #fff;
						padding:10px;
						z-index: 1;
						box-shadow: 0 3px 12px 6px #ddd;
						border-radius: 7px;
						display:none;
						li{
							text-indent: -5px;
							padding-left: 5px;
						}
						&:before{
							width:0;
							height:0;
							border:6px solid transparent;
							border-bottom-color: #fff;
							position:absolute;
							top:-12px;
							left:22px;
							content:'';
						}
					}
					&:hover {
						i{
							text-decoration: underline;
						}
						.t-requirement{
							display:block;
						}
					}
					&.wait{
						cursor:pointer;
						span{
							display:block;
							width:36px;
							height:36px;
							border-radius: 18px;
							float:left;
							margin-right: 8px;
							background-color: #edecea;
							position:relative;
							&:before,&:after{
								content:'';
								display:block;
								background-color: #fff;
								position:absolute;
							}
							&:before{
								width:20px;
								height:6px;
								left:8px;
								top:15px;
							}
							&:after{
								width:6px;
								height:20px;
								left:15px;
								top:8px;
							}
						}
					}
					&.on{
						span{
							background-color: #74C274;
							&:before,&:after{
								background-color: #efefef;
							}
						}
					}
				}
			}
			.t-join{
				color:#808083;
				line-height: 22px;
				p{
					font-size: 14px;
					margin-bottom: 35px;
				}
				.t-num{
					font-size: 12px;
					overflow:hidden;
					width:85%;
					margin:auto;
					span,i{
						display:block;
						float:left;
					}
					span{
						width:70%;
						strong{
							border:1px solid #ef595d;
							display:block;
							margin-top: 4px;
							width:70%;
							overflow:hidden;
							em{
								display:block;
								height:12px;
								background-color: #ef595d;
							}
						}
					}
					i{
						width:30%;
						color:#ef595d;
					}
				}
				button{
					display:block;
					width:70px;
					line-height: 18px;
					color:#fff;
					background-color: #e85c5f;
					font-weight: 300;
					border:1px solid #f8b7b9;
					cursor: pointer;
					font-size: 12px;
					margin:35px auto 10px;
					outline: none;
					&.d-disabled{
						opacity:.5;
					}
				}
			}
		}
	}
}

.d-comment{
	dl{
		overflow:hidden;
		padding-left: 34px;
		font-weight: 300;
	}
	dt{
		height: 30px;
		font-size: 16px;
		color:#808083;
	}
	dd{
		padding-bottom: 30px;
		.d-comment-img{
			display:block;
			float:left;
			overflow:hidden;
			margin-right: 10px;
			img{
				width:48px;
				height:48px;
				border-radius: 50%;
			}
		}
		.d-comment-text{
			overflow:hidden;
			.d-comment-name{
				font-size: 14px;
				color:#aaaaac;
				display:block;
				line-height: 28px;
				a{
					font-size: 16px;
					color:#221f1f;
				}
			}
			i{
				display:block;
				color:#686666;
				font-size: 14px;
				line-height: 20px;
			}
			textarea{
				width: 570px;
				height:46px;
				box-sizing:border-box;
				background-color: #f1f0ee;
				border:1px solid #e9e9ea;
				border-radius: 6px;
				line-height: 22px;
				padding:0 10px;
				font-size: 14px;
				outline:none;
			}
			button{
				display:inline-block;
				width:70px;
				line-height: 18px;
				color:#fff;
				background-color: #e85c5f;
				border:1px solid #f8b7b9;
				cursor: pointer;
				font-size: 12px;
				outline: none;
				position:relative;
				bottom:5px;
				left:10px;
				margin-top:20px;
				&.d-disabled{
					opacity:.5;
				}
			}
		}
	}
}
.d-comment-pagenation{
	font-weight: 300;
	color:$bannercolor;
	text-align: center;
	margin:30px;
	span{
		border:1px solid $bannercolor;
		display:inline-block;
		height:24px;
		line-height: 24px;
		padding:0 9px;
		margin:0 5px;
		cursor:pointer;
		font-size: 12px;
		&.on{
			color:#fff;
			background-color:$bannercolor;
		}
		&.unclick{
			opacity:.5;
		}
	}
}
.t-alert-text{
	line-height: 100px;
	text-align: center;
}


