@mixin cliptext{
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
$bannercolor:#a6d6dc;
body{
	font-family:Oswald,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: 300;
}
/* list.html sass start */
.c-list-selector{
	background-color: #ebeae8;
	margin-bottom: 54px;
	overflow:hidden;
	.g-container{
		margin-top: 50px;
		min-height: 200px;
		position:relative;
		.g-icon-refresh{
			display:block;
			position:absolute;
			right:-61px;
			top:200px;
			cursor:pointer;
		}
		.c-list-badges{
			width:351px;
			height:540px;
			float:left;
			background:url("../images/badgesbg.png") no-repeat;
			position:relative;
			.c-list-badgewrap{
				height:400px;
				span{
					display:block;
					width:73px;
					height:63px;
					position:absolute;
					cursor:pointer;
					opacity:.5;
					transition:transform .2s ease;
					&.c-badge-active{
						opacity:1;
						&:before,&:after{
							display:block;
							content:"";
							position:absolute;
						}
						&:before{
							top:-8px;
							right:9px;
							background-color: #f06468;
							border-radius: 50%;
							width:18px;
							height:18px;
							z-index: 2;
						}
						&:after{
							top:-5px;
							right:11px;
							border:2px solid transparent;
							border-color:transparent transparent #fff #fff;
							width:8px;
							height:4px;
							transform:rotate(-40deg);
							z-index: 3;
						}
					}
					&:hover{
						opacity: 1;
						transform:scale(1.1);
						z-index: 1;
					}
					img{
						width:73px;
						height:63px;
					}
					&:nth-child(15n+1){
						top:281px;
						left:108px;
					}
					&:nth-child(15n+2){
						top:62px;
						left:55px;
					}
					&:nth-child(15n+3){
						top:156px;
						left:109px;
					}
					&:nth-child(15n+4){
						top:96px;
						left:215px;
					}
					&:nth-child(15n+5){
						top:93px;
						left:1px;
					}
					&:nth-child(15n+6){
						top:189px;
						left:55px;
					}
					&:nth-child(15n+7){
						top:158px;
						left:216px;
					}
					&:nth-child(15n+8){
						top:1px;
						left:54px;
					}
					&:nth-child(15n+9){
						top:220px;
						left:108px;
					}
					&:nth-child(15n+10){
						top:65px;
						left:269px;
					}
					&:nth-child(15n+11){
						top:32px;
						left:108px;
					}
					&:nth-child(15n+12){
						top:94px;
						left:109px;
					}
					&:nth-child(15n+13){
						top:127px;
						left:162px;
					}
					&:nth-child(15n+14){
						top:0;
						left:161px;
					}
					&:nth-child(15n){
						top:31px;
						left:1px;
					}
					&:nth-child(n+16){
						display:none;
					}
				}
			}
			.c-list-bigbadge{
				position: absolute;
				top: 387px;
				left: 37px;
				width: 108px;
			}
			.c-list-badgetext{
				position:absolute;
				width:170px;
				height:48px;
				line-height: 16px;
				font-size: 12px;
				top:408px;
				left:164px;
				font-weight: 300;
				overflow:hidden;
				color:#3d3a32;
			}
			.c-list-badges-swiper{
				position:absolute;
				top:168px;
				left:250px;
				i,span{
					display:inline-block;
					background:url("../../libs/images/icons.png") no-repeat;
					width:18px;
					height:22px;
					cursor:pointer;
				}
				span{
					background-position: -26px -37px;
				}
				i{
					background-position: 3px -37px;
				}
			}
		}
		.gl-artist-imglist{
			width:672px;
			float:right;
			li{
				float:left;
				width:166px;
				border-left: 2px solid #fff;
				text-align: center;
				color:#808083;
				height:154px;
				a{
					border: 3px solid #fff;
					border-radius:50%;
					display:block;
					width:104px;
					height:104px;
					margin:0 auto;
				}
				img{
					border-radius:50%;
					display:block;
					width:104px;
					height:104px;
					opacity:.5;
				}
				span{
					display:block;
					line-height: 34px;
				}
				&:hover,&.on{
					img{
						opacity:1;
					}
				}
			}
		}
	}
}

.c-container{
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding-bottom: 34px;
	position:relative;
	&:after{
		position:absolute;
		content:"";
		background-color: #fff;
		width:6px;
		display:block;
		height:200px;
		right:-50px;
		top:50%;
		margin-top: -100px;
	}
	.c-list-wrap{
		margin-left: 37px;
		overflow:hidden;
		background-color: #fff;
		padding:22px 0 22px 80px;
		margin-bottom: 20px;
		.ga-list-imga{
			display:block;
			float:left;
			width:230px;
			height:300px;
			margin-right: 80px;
			img{
				display:block;
				width:230px;
				height:300px;
			}
		}
		.ga-list-text{
			width:200px;
			float:left;
			overflow:hidden;
			margin-right: 55px;
			color:#808083;
			h2{
				text-align: center;
				color:#221f1f;
				font-size: 22px;
				line-height: 24px;
				padding:10px 0;
			}
			.ga-list-subtitle{
				display:none;
			}
			.ga-list-subtitle,.ga-list-year{
				text-align: center;
				font-size: 16px;
				line-height: 24px;
				height:24px;
			}
			h2,.ga-list-subtitle,.ga-list-year{
				@include cliptext;
			}
			.ga-list-description{
				margin: 35px 0 25px;
				font-size: 14px;
				line-height: 18px;
				overflow:hidden;
				height:126px;
			}
		}
		.c-list-likes{
			clear:both;
			overflow:hidden;
			line-height: 26px;
			font-size:12px;
			font-weight: 300;
			color:#221f1f;
			li{
				float:left;
				width:66px;
				.g-icon{
					float:left;
				}
				i{
					float:left;
					width:40px;
					@include cliptext;
				}
			}
		}
		.t-user-info{
			width: 230px;
			text-align: center;
			float:left;
			margin-right: 40px;
			.t-user-img{
				display:block;
				width:144px;
				height:144px;
				margin:20px auto 20px;
				img{
					width:144px;
					height:144px;
					border-radius: 50%;
				}
			}
			i{
				display:block;
				line-height: 38px;
				font-size: 16px;
				@include cliptext;
			}
			span{
				display:block;
				line-height: 16px;
				font-size: 12px;
				margin-bottom: 20px;
				@include cliptext;
			}
			button{
				display:block;
				margin:auto;
				width:170px;
				line-height: 34px;
				color:#fff;
				background-color: #ef6367;
				border:1px solid #f8b7b9;
				cursor: pointer;
				font-size: 18px;
				outline: none;
				margin-top:16px;
				&.d-disabled,&:hover{
					opacity:.5;
				}
			}
		}
		.swiper-container{
			padding:20px 0;
			float:left;
			width:45px;
			height:230px;
			margin-top: 30px;
			.swiper-wrapper{
			}
			.swiper-slide{
				width:45px;
				height:30px;
				text-align: center;
				img{
					width:34px;
				}
			}
			.swiper-button-next,.swiper-button-prev{
				width:40px;
				height:20px;
				background-image: url("../../libs/images/icons.png");
				background-repeat: no-repeat;
				left:7px;
				background-size: auto;
				margin-top:auto;
				background-color: #fff;
			}
			.swiper-button-next{
				background-position: -38px -133px;
				bottom:0;
			}
			.swiper-button-prev{
				background-position: 6px -133px;
				top:0;
			}
		}
	}
}

.w-worklist{
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding-bottom: 34px;
	position:relative;
	display:none;
	&:after{
		position:absolute;
		content:"";
		background-color: #fff;
		width:6px;
		display:block;
		height:200px;
		right:-50px;
		top:50%;
		margin-top: -100px;
	}
	.w-works{
		overflow:hidden;
		margin-left: 37px;
		width:1045px;
		li{
			float:left;
			margin:0 5px 5px 0;
			width:204px;
			height:240px;
			overflow:hidden;
			position:relative;
			background-color: #fff;
			a{
				display:block;
				img{
					width:100%;
					height:100%;
					display:block;
				}
			}
			&:hover{
				.w-work-imga{
					opacity:.6;
				}
				.w-work-title,.w-work-author{
					display:block;
				}
			}
		}
		.w-work-imga{
			width:100%;
			height:100%;
		}
		.w-work-title{
			position:absolute;
			height:44px;
			top:0;
			display:none;
			left:0;
			width:100%;
			padding:0 7px;
			box-sizing:border-box;
			line-height: 44px;
			color:#fff;
			font-size: 16px;
			@include cliptext;
			background-color: rgba(0,0,0,.2);
		}
		.w-work-author{
			position:absolute;
			width:60px;
			height:60px;
			bottom:5px;
			right:5px;
			display:none;
			img{
				border-radius: 50%;
			}
		}
	}
}

.w-waterfall{
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding-bottom: 34px;
	position:relative;
	display:none;
	&:after{
		position:absolute;
		content:"";
		background-color: #fff;
		width:6px;
		display:block;
		height:200px;
		right:-50px;
		top:50%;
		margin-top: -100px;
	}
	.w-waterfall-items{
		overflow:hidden;
		margin-left: 37px;
		width:1080px;
		li{
			float:left;
			margin-right:40px;
			width:320px;
			overflow:hidden;
			.w-waterfall-item{
				margin-bottom: 10px;
				overflow:hidden;
				.w-waterfall-imga{
					display:block;
					overflow:hidden;
					position:relative;
					img{
						display:block;
						width:100%;
						transition:transform .4s ease;
					}
				}
				.w-waterfall-textwrap{
					margin:-30px 15px 30px;
					background-color: #fff;
					z-index:1;
					position:relative;
					overflow:hidden;
					box-shadow:0px 2px 6px 0px rgba(163,163,163,0.48);
					.w-waterfall-title{
						background-color: #fff;
						margin:11px 17px;
						line-height: 24px;
						font-size: 16px;
						max-height:72px;
						display:block;
						text-align:center;
						overflow:hidden;
						color:#777;
						font-weight:500;
					}
				}
				&:hover .w-waterfall-imga img{
					transform:scale(1.1);
				}
				.w-waterfall-text{
					margin:10px 18px;
					font-size: 14px;
					color:#404040;
					line-height: 22px;
					max-height:88px;
					overflow:hidden;
					font-size: 14px;
				}
				.w-waterfall-tips{
					margin:18px;
					text-align: center;
					a{
						display:inline-block;
						padding:1px 6px;
						line-height: 20px;
						color:#fff;
						margin:4px;
						background-color: #adadad;
						font-size: 12px;
						&:hover{
							background-color: $bannercolor;
						}
					}
				}
			}
		}
	}
}

.d-comment{
	dl{
		width:900px;
		margin:20px auto;
		overflow:hidden;
		padding-left: 34px;
		font-weight: 300;
	}
	dt{
		height: 30px;
		font-size: 16px;
		color:#808083;
	}
	dd{
		padding-bottom: 30px;
		.d-comment-img{
			display:block;
			float:left;
			overflow:hidden;
			margin-right: 10px;
			img{
				width:48px;
				height:48px;
				border-radius: 50%;
			}
		}
		.d-comment-text{
			overflow:hidden;
			.d-comment-name{
				font-size: 14px;
				color:#aaaaac;
				display:block;
				line-height: 28px;
				a{
					font-size: 16px;
					color:#221f1f;
				}
			}
			i{
				display:block;
				color:#686666;
				font-size: 14px;
				line-height: 20px;
			}
			textarea{
				width: 750px;
				height:46px;
				box-sizing:border-box;
				background-color: #f1f0ee;
				border:1px solid #e9e9ea;
				border-radius: 6px;
				line-height: 22px;
				padding:0 10px;
				font-size: 14px;
				outline:none;
			}
			button{
				display:inline-block;
				width:70px;
				line-height: 18px;
				color:#fff;
				background-color: #e85c5f;
				border:1px solid #f8b7b9;
				cursor: pointer;
				font-size: 12px;
				outline: none;
				position:relative;
				bottom:5px;
				left:10px;
				margin-top:20px;
				&.d-disabled{
					opacity:.5;
				}
			}
		}
	}
}
.d-comment-pagenation{
	font-weight: 300;
	color:$bannercolor;
	text-align: center;
	margin:30px;
	span{
		border:1px solid $bannercolor;
		display:inline-block;
		height:24px;
		line-height: 24px;
		padding:0 9px;
		margin:0 5px;
		cursor:pointer;
		font-size: 12px;
		&.on{
			color:#fff;
			background-color:$bannercolor;
		}
		&.unclick{
			opacity:.5;
		}
	}
}
.t-alert-text{
	line-height: 100px;
	text-align: center;
}



$tipsleft:70px;
$tipswidth:300px;
$tipslinecolor:#e5e5e5;
$tipscolor:#87878a;
$circleleft:490px;
$circlemargin:100px;
.d-container{
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 24px;
	overflow:hidden;
}
.d-switcher{
	margin-top:40px;
	.gallery-top{
		margin:40px;
		margin-bottom: 0;
		.swiper-slide{
			img{
				width:100%;
			}
			span{
				display:none;
				position:absolute;
				bottom:0;
				left:0;
				width:100%;
				padding:12px 40px;
				box-sizing:border-box;
				font-size:14px;
				line-height: 22px;
				font-weight: 300;
				color:#221f1f;
				max-height: 148px;
				overflow:hidden;
				background-color: rgba(255,255,255,.7);
			}
		}
		.swiper-button-next,.swiper-button-prev{
			display:none;
		}
		&:hover{ 
			.swiper-slide span{
				display:block;
			}
			.swiper-button-next,.swiper-button-prev{
				display:block;
			}
		}
	}
	.gallery-thumbs{
		margin:0 40px 20px;
		background-color: #f4f4f2;
		.swiper-slide {
	        width: 100px;
	        opacity: 0.4;
	        margin:10px 0;
	        max-height: 200px;
	        overflow:hidden;
	        img{
				width:100%;
				cursor:pointer;
			}
	    }
	    .swiper-slide-active {
	        opacity: 1;
	    }
	}
}
.d-otherartists{
	.d-otherartists-tip{
		width:900px;
		margin:20px auto;
		overflow:hidden;
		padding-left: 34px;
		font-weight: 300;
		font-size: 16px;
		color: #808083;
	}
	ul{
		width:400px;
		margin:0 0 20px 75px;
		overflow:hidden;
		padding-left: 34px;
		float:left;
		li{
			float:left;
			width:100px;
			margin-right: 33px;
			padding-bottom: 20px;
			a{
				float:left;
				margin-right: 22px;
				position:relative;
				img{
					width:64px;
					height:64px;
					border-radius: 50%;
				}
				i{
					display:block;
					text-align: center;
					font-size:12px;
					color:#939395;
					line-height: 1;
					width:128px;
					position:absolute;
					bottom:-18px;
					left:-32px;
					@include cliptext;
				}
			}
		}
	}
	.ga-works{
		display:block;
		width:80px;
		height:90px;
		float:left;
		margin-right: 46px;
		margin-top: -10px;
		img{
			width:80px;
			height:90px;
		}
	}
}
.d-about-artist{
	.ga-about-container{
		width:900px;
		margin:20px auto 30px;
		overflow:hidden;
		.ga-about-left{
			width:416px;
			float:left;
			overflow:hidden;
			padding-left: 34px;
			li{
				float:left;
				font-weight: 300;
				.g-about-artist-title{
					line-height: 32px;
					span,em,a{
						display:inline-block;
						vertical-align: middle;
					}
					span{
						font-size: 24px;
						color:#221f1f;
						max-width: 220px;
						@include cliptext;
						margin-top: -8px;
					}
					em{
						font-size: 16px;
						margin-right: 10px;
						line-height: 24px;
					}
					a{
						color:#fff;
						background-color: #f1f0ee;
						width:24px;
						height:24px;
						vertical-align: middle;
						background:url("../../libs/images/link.png") no-repeat center;
						background-size:24px;
						opacity:.7;
					}
				}
				.g-about-artist-name{
					color:#807e7e;
					font-size: 14px;
					line-height: 28px;
				}
				.swiper-container{
					padding:0 30px;
					margin-top: 30px;
					.swiper-slide{
						width:59px;
						height:30px;
						text-align: center;
						img{
							width:34px;
							height:30px;
						}
					}
					.swiper-button-next,.swiper-button-prev{
						width:35px;
						height:30px;
						background-image: url("../../libs/images/icons.png");
						background-repeat: no-repeat;
						top:0;
						background-size: auto;
						margin-top:auto;
						background-color: #fff;
					}
					.swiper-button-next{
						background-position: -98px -33px;
						right:0;
					}
					.swiper-button-prev{
						background-position: -66px -33px;
						left:0;
					}
				}
			}
			li:nth-child(1){
				text-align: center;
				width:70px;
				margin-right: 20px;
				img{
					width:64px;
					height:64px;
					border-radius: 50%;
				}
				button{
					display:block;
					width:70px;
					line-height: 18px;
					color:#fff;
					background-color: #e85c5f;
					font-weight: 300;
					border:1px solid #f8b7b9;
					cursor: pointer;
					font-size: 12px;
					margin-top:10px;
					outline: none;
					&.d-disabled{
						opacity:.5;
					}
				}
			}
			li:nth-child(2){
				padding-top:15px;
				width:326px;
			}
			li:nth-child(3){
				width:360px;
				clear: both;
			}
		}
		.ga-about-right{
			border-left:1px solid #dbdcdd;
			float:left;
			overflow:hidden;
			width:448px;
			min-height: 160px;
			.t-likes{
				width:290px;
				margin:auto;
				li{
					border-bottom: 1px solid #eeefef;
					line-height: 26px;
					height:26px;
					font-size: 14px;
					color:#939395;
					@include cliptext;
					.g-icon{
						float:left;
						margin-right: 10px;
						cursor:pointer;
					}
					.color-bars{
						float:left;
						width:27px * 6;
						height:12px;
						margin-top:7px;
						a{
							float:left;
							height:12px;
							width:27px;
							&:hover{
								transform:scale(1.4);
								box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
							}
							&:first-child{
								border-radius:3px 0 0 3px;
							}
							&:last-child{
								border-radius:0 3px 3px 0;
							}
						}
					}
				}
			}
			.t-tips{
				width:290px;
				margin:10px auto;
			}
			.t-tips a{
				line-height: 16px;
				height:16px;
				display:inline-block;
				background-color: #f1f0ee;
				color:#939395;
				border:1px solid #e3e4e4;
				border-radius: 8px;
				font-size: 13px;
				padding: 0 5px;
				margin-bottom: 6px;
				margin-left: 4px;
			}
		}
	}
}

