body { font-family: Oswald,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: 300; }

/* list.html sass start */
.c-list-selector { background-color: #ebeae8; margin-bottom: 54px; overflow: hidden; }

.c-list-selector .g-container { margin-top: 50px; min-height: 200px; }

.c-list-selector .g-container .c-list-badges { width: 351px; height: 466px; float: left; background: url("../images/badges.png") no-repeat; position: relative; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap { height: 400px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span { display: block; width: 73px; height: 63px; position: absolute; cursor: pointer; opacity: .5; -webkit-transition: -webkit-transform .2s ease; transition: -webkit-transform .2s ease; transition: transform .2s ease; transition: transform .2s ease, -webkit-transform .2s ease; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active { opacity: 1; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:before, .c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:after { display: block; content: ""; position: absolute; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:before { top: -8px; right: 9px; background-color: #f06468; border-radius: 50%; width: 18px; height: 18px; z-index: 2; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:after { top: -5px; right: 11px; border: 2px solid transparent; border-color: transparent transparent #fff #fff; width: 8px; height: 4px; -webkit-transform: rotate(-40deg); -ms-transform: rotate(-40deg); transform: rotate(-40deg); z-index: 3; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:hover { opacity: 1; -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span img { width: 73px; height: 63px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+1) { top: 63px; left: 1px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+2) { top: 1px; left: 109px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+3) { top: 125px; left: 108px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+4) { top: 64px; left: 217px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+5) { top: 63px; left: 109px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+6) { top: 95px; left: 54px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+7) { top: 33px; left: 163px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n) { top: 187px; left: 109px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(n+9) { display: none; }

.c-list-selector .g-container .c-list-badges .c-list-bigbadge { position: absolute; top: 293px; left: 38px; width: 108px; }

.c-list-selector .g-container .c-list-badges .c-list-badgetext { position: absolute; width: 170px; height: 48px; line-height: 16px; font-size: 12px; top: 316px; left: 164px; font-weight: 300; overflow: hidden; color: #3d3a32; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper { position: absolute; top: 168px; left: 250px; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper i, .c-list-selector .g-container .c-list-badges .c-list-badges-swiper span { display: inline-block; background: url("../../libs/images/icons.png") no-repeat; width: 18px; height: 22px; cursor: pointer; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper span { background-position: -26px -37px; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper i { background-position: 3px -37px; }

.c-list-selector .g-container .c-list-month-selector { float: left; width: 729px; height: 430px; position: relative; }

.c-list-selector .g-container .c-list-month-selector:before { display: block; content: ""; position: absolute; background-color: #fff; width: 74px; height: 2px; top: 95px; left: -8px; }

.c-list-selector .g-container .c-list-month-selector .t-map { width: 660px; height: 370px; background-color: #fff; border: 2px solid #fff; float: right; }

.c-list-selector .g-container .c-list-month-selector .c-list-years { width: 198px; padding: 0 20px; margin-top: 20px; font-weight: 300; color: #a3a3a6; font-size: 12px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide { cursor: pointer; width: 66px; height: 22px; text-align: center; line-height: 18px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide.c-year-active span { background-color: #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide span { border: 2px solid #fff; border-right: none; display: block; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide:last-child span { border-right: 2px solid #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-next, .c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-prev { position: absolute; top: 0; background: #EBEAE8 url("../../libs/images/icons.png") no-repeat; width: 20px; height: 22px; cursor: pointer; z-index: 2; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-next { right: -2px; background-position: -26px -37px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-prev { left: 0; background-position: 0 -37px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .t-months { border-left: 2px solid #fff; line-height: 16px; height: 18px; text-align: center; margin-right: -2px; cursor: pointer; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .t-months i { display: block; float: left; width: 14px; border-bottom: 2px solid #fff; border-right: 2px solid #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .t-months i:nth-child(3n) { width: 15px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .t-months i.on { background-color: #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs { width: 690px; margin-left: 39px; height: 180px; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs .swiper-slide { width: 95px; margin-right: 23px; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs .swiper-slide a img { width: 95px; height: 133px; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs .swiper-pagination-bullet-active { background-color: #fff; }

.c-container { border-left: 3px solid #fff; border-bottom: 3px solid #fff; padding-bottom: 34px; position: relative; }

.c-container:after { position: absolute; content: ""; background-color: #fff; width: 6px; display: block; height: 200px; right: -50px; top: 50%; margin-top: -100px; }

.c-container .c-list-wrap { margin-left: 37px; }

.c-container .c-list-wrap .c-list-shownpart { overflow: hidden; background-color: #fafaf9; padding: 10px 0 20px 34px; margin-bottom: 64px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-img { display: block; float: left; margin: 18px 54px 0 0; position: relative; width: 320px; height: 450px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-img img { width: 320px; height: 450px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-img.c-list-closed:after { position: absolute; top: 10px; right: -12px; content: ''; display: block; width: 63px; height: 20px; background: url("../../libs/images/icons.png") no-repeat 0 -100px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle { float: left; width: 260px; color: #221f1f; margin-right: 54px; position: relative; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle h3 { font-size: 18px; font-weight: 300; line-height: 24px; width: 260px; text-align: center; overflow: hidden; max-height: 48px; margin-top: 18px; margin-bottom: 10px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container { padding: 0 15px; margin-bottom: 26px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-slide { width: 45px; height: 30px; text-align: center; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-slide img { width: 34px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-next, .c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-prev { width: 15px; height: 30px; background-image: url("../../libs/images/icons.png"); background-repeat: no-repeat; top: 0; background-size: auto; margin-top: auto; background-color: #fafaf9; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-next { background-position: -108px -33px; right: 0; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-prev { background-position: -76px -33px; left: 0; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-detail { overflow: hidden; font-size: 14px; line-height: 20px; font-weight: 300; border-top: 1px solid #ecebeb; width: 590px; padding-top: 18px; height: 80px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-team-member { width: 580px; height: 48px; margin-top: 35px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-team-member li { float: left; width: 48px; height: 48px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-team-member li img { width: 38px; height: 38px; border-radius: 50%; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-team-member li i { display: block; width: 34px; height: 34px; border: 2px dotted #e3e1df; border-radius: 19px; position: relative; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-team-member li i:after { content: ''; position: absolute; border-bottom: 2px dotted #e3e1df; width: 19px; top: 16px; left: 7px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-team-member li i:before { content: ''; position: absolute; border-left: 2px dotted #e3e1df; height: 19px; left: 16px; top: 7px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-join { color: #fff; text-align: center; font-size: 14px; margin: 28px auto auto 24px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-join i { display: block; float: left; position: relative; width: 38px; height: 38px; border-radius: 19px; background-color: #ebe9e7; line-height: 38px; margin-right: 15px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-join i span { display: block; width: 28px; height: 28px; font-size: 12px; border-radius: 14px; background-color: #f28d90; position: absolute; top: 5px; left: -23px; line-height: 18px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-join i span:after { content: 'LEFT'; display: block; position: absolute; bottom: 0; left: 0; width: 28px; font-size: 12px; line-height: 14px; -webkit-transform: scale(0.67); -ms-transform: scale(0.67); transform: scale(0.67); }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-join a { display: block; color: #fff; float: left; width: 38px; height: 38px; border-radius: 19px; background-color: #f28d90; line-height: 38px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info { position: absolute; width: 270px; right: -320px; top: 20px; text-align: center; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info .t-user-img { display: block; width: 144px; height: 144px; margin: auto; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info .t-user-img img { width: 144px; height: 144px; border-radius: 50%; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info i { display: block; line-height: 38px; font-size: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info span { display: block; line-height: 1; font-size: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info button { display: block; margin: auto; width: 170px; line-height: 34px; color: #fff; background-color: #ef6367; border: 1px solid #f8b7b9; cursor: pointer; font-size: 18px; outline: none; margin-top: 20px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info button.d-disabled, .c-container .c-list-wrap .c-list-shownpart .c-list-middle .t-user-info button:hover { opacity: .5; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right { width: 260px; overflow: hidden; min-height: 170px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li { line-height: 18px; max-height: 36px; color: #838386; font-size: 14px; margin-bottom: 14px; font-weight: 300; overflow: hidden; -webkit-transition: max-height .3s; transition: max-height .3s; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li:hover { max-height: 90px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li i { float: left; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li em { overflow: hidden; display: block; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li em b { font-weight: 700; }

.c-scores { width: 1000px; margin: 40px auto; overflow: hidden; font-family: Oswald,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }

.c-scores li { width: 248px; border-right: 2px solid #fafafa; float: left; height: 70px; }

.c-scores li:last-child { border-right: none; }

.c-scores li em, .c-scores li i { float: right; width: 160px; line-height: 320px; margin-right: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-overflow: clip; }

.c-scores li em { color: #EA2127; font-size: 36px; line-height: 44px; font-weight: 100; text-align: center; }

.c-scores li i { font-size: 18px; text-align: center; line-height: 24px; color: #ABAAAB; font-weight: 300; }

.c-scores li .g-icon { margin: 22px 0 0 48px; float: left; }
