.wrap { width: 400px; background: #ddd; margin: 10px auto; overflow: hidden; -webkit-perspective: 650px; perspective: 650px; }

.wrap div { width: 100px; height: 100px; position: relative; margin: 150px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: 50% 50% 50px; -ms-transform-origin: 50% 50% 50px; transform-origin: 50% 50% 50px; -webkit-transition: -webkit-transform 1s ease; transition: -webkit-transform 1s ease; transition: transform 1s ease; transition: transform 1s ease, -webkit-transform 1s ease; }

.wrap div span { position: absolute; top: 0; left: 0; width: 100px; height: 100px; opacity: .8; -webkit-transform-origin: 50% 50% 50px; -ms-transform-origin: 50% 50% 50px; transform-origin: 50% 50% 50px; -webkit-transition: -webkit-transform 1s ease; transition: -webkit-transform 1s ease; transition: transform 1s ease; transition: transform 1s ease, -webkit-transform 1s ease; }

.wrap div span:nth-child(1) { background: url("https://placem.at/things?h=100&w=100&txt=&random=1") no-repeat; }

.wrap div span:nth-child(2) { background: url("https://placem.at/things?h=100&w=100&txt=&random=2") no-repeat; -webkit-transform: rotateX(90deg); transform: rotateX(90deg); }

.wrap div span:nth-child(3) { background: url("https://placem.at/things?h=100&w=100&txt=&random=3") no-repeat; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }

.wrap div span:nth-child(4) { background: url("https://placem.at/things?h=100&w=100&txt=&random=4") no-repeat; -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }

.wrap div span:nth-child(5) { background: url("https://placem.at/things?h=100&w=100&txt=&random=5") no-repeat; -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }

.wrap div span:nth-child(6) { background: url("https://placem.at/things?h=100&w=100&txt=&random=6") no-repeat; -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }

.wrap:hover div { -webkit-transform: rotate3d(1, 1, 0, 360deg); transform: rotate3d(1, 1, 0, 360deg); }

.wrap:hover div span:nth-child(1) { -webkit-transform: translate3d(0, 0, -50px); transform: translate3d(0, 0, -50px); }

.wrap:hover div span:nth-child(2) { -webkit-transform: rotateX(90deg) translate3d(0, 0, -50px); transform: rotateX(90deg) translate3d(0, 0, -50px); }

.wrap:hover div span:nth-child(3) { -webkit-transform: rotateX(-90deg) translate3d(0, 0, -50px); transform: rotateX(-90deg) translate3d(0, 0, -50px); }

.wrap:hover div span:nth-child(4) { -webkit-transform: rotateY(-90deg) translate3d(0, 0, -50px); transform: rotateY(-90deg) translate3d(0, 0, -50px); }

.wrap:hover div span:nth-child(5) { -webkit-transform: rotateY(90deg) translate3d(0, 0, -50px); transform: rotateY(90deg) translate3d(0, 0, -50px); }

.wrap:hover div span:nth-child(6) { -webkit-transform: rotateX(180deg) translate3d(0, 0, -50px); transform: rotateX(180deg) translate3d(0, 0, -50px); }
