.home{
	letter-spacing: 1px;
	.bg-yellow{
		background-color:#f4f3b8;
	}
	.bg-white{
		background-color:#fff;
	}
	.bg-blue{
		background-color:#a6d6dc;
	}
	.h-banner{
		img{
			width:100%;
			display:block;
		}
		.swiper-button-next{
			right:30px;
		}
		.swiper-button-prev{
			left:30px;
		}
	}
	.item-title{
		text-align:center;
		color:#455258;
		font-size:32px;
		font-weight:normal;
		line-height:70px;
	}
	.item-detail{
		text-align:center;
		color:#455258;
		font-size:18px;
		margin-bottom:30px;
	}
	.h-account{
		width:860px;
		margin:60px auto;
		overflow:hidden;
		position:relative;
		.sign-in{
			float:left;
		}
		.sign-up{
			float:right;
		}
		.tip{
			color:#555;
			margin-bottom:20px;
		}
		.input-wrap{
			input[type=text],input[type=password]{
			    height: 34px;
			    width: 196px;
			    display: block;
		        padding:0 6px;
    			font-size: 14px;
    			color: #555;
			    background-color: #fff;
			    border: 1px solid #ccc;
			    font-family: inherit;
			    font-weight:inherit;
				letter-spacing: 1px;
			}
			input[type=checkbox]{
				margin-right:10px;
			}
			font-size:14px;
			color:#555;
			line-height:24px;
			margin-bottom: 10px;
		}
		.action-button{
		    height: 34px;
		    background: #ff5a5f;
		    border: #f7f6f4 solid 2px;
		    font-size: 16px;
		    line-height:34px;
		    text-align:center;
		    overflow:hidden;
		    width:208px;
		    margin:10px 0;
			a{
				display:block;
				width:200%;
				height:100%;
				transform:translate(-50%, 0);
				transition:transform .3s ease;
				em,span{
					display:block;
					width:50%;
					float:left;
					height:100%;
				}
				em{
					img{
						position:relative;
						top:4px;
					}
				}
				span{
					color:#fff;
				}
				&:hover{
					transform:translate(0);
				}
			}
		}
		.forget-password{
			color:#555;
			&:hover{
				color:#0290a2;
			}
		}
		.other-login{
			strong{
				display:block;
				color:#000;
				font-size:18px;
				font-weight:normal;
				line-height:60px;
			}
			a{
				display:inline-block;
				margin-right:20px;
			}
		}
		.points{
			position:absolute;
			top:0;
			left:50%;
			margin-left:-3px;
			width:6px;
			span,em{
				width:6px;
				height:6px;
				border-radius:50%;
				display:block;
				background-color:#BDBEBE;
				margin-bottom:14px;
			}
			em{
				background-color:transparent;
			}
		}
	}
	.blocks{
		width:706px;
		overflow:hidden;
		margin:0 auto 40px;
		text-align:center;
		.access-list{
			width:730px;
			margin-top:10px;
			li{
				width:222px;
				margin:0 20px 20px 0;
				height:282px;
				float:left;
				&.access-item{
					cursor:pointer;
					color:#455258;
					span{
						display:block;
						height:174px;
						line-height:174px;
						font-size:18px;
						font-weight:normal;
						color:#fff;
						background-size:cover;
						background-position:center;
						background-repeat:no-repeat;
						transition:all .3s ease;
					}
					&:nth-child(1) span{
						background-image:url("https://placem.at/things?w=222&h=174&random=1&txt=");
					}
					&:nth-child(2) span{
						background-image:url("https://placem.at/things?w=222&h=174&random=2&txt=");
					}
					&:nth-child(3) span{
						background-image:url("https://placem.at/things?w=222&h=174&random=3&txt=");
					}
					em{
						display:block;
						height:108px;
						line-height:108px;
						transition:all .3s ease;
					}
					&:hover{
						span{
							height:114px;
							line-height:114px;
						}
						em{
							height:168px;
							line-height:168px;
						}
					}
				}
			}
		}
		.service-list{
			width:730px;
			margin-top:10px;
			li{
				width:222px;
				margin:0 20px 20px 0;
				height:282px;
				float:left;
				background-color:#fff;
				cursor:pointer;
				&:nth-child(odd):hover {
					background-color:#f7f3b7;
				}
				&:nth-child(even):hover {
					background-color:#a6d8de;
				}
				a{
					display:block;
					width:132px;
					height:132px;
					margin:30px auto 20px;
					&:nth-of-type(2){
						display:none;
					}
				}
				&:hover{
					a{
						display:none;
						&:nth-of-type(2){
							display:block;
						}
					}
				}
				h2{
					font-size:18px;
				}
				p{
					line-height:24px;
					margin:15px;
				}
			}
		}
	}
	.service{
		padding:50px 0;
		background-color:#e6e5e2;
	}
	.access{
		padding:50px 0;
		background-color:#e9e8e5;
	}
}