body { font-family: Oswald,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }

/* list.html sass start */
.c-list-selector { background-color: #ebeae8; margin-bottom: 54px; overflow: hidden; }

.c-list-selector .g-container { margin-top: 50px; min-height: 200px; }

.c-list-selector .g-container .c-list-badges { width: 351px; height: 466px; float: left; background: url("../images/badges.png") no-repeat; position: relative; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap { height: 400px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span { display: block; width: 73px; height: 63px; position: absolute; cursor: pointer; opacity: .5; -webkit-transition: -webkit-transform .2s ease; transition: -webkit-transform .2s ease; transition: transform .2s ease; transition: transform .2s ease, -webkit-transform .2s ease; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active { opacity: 1; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:before, .c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:after { display: block; content: ""; position: absolute; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:before { top: -8px; right: 9px; background-color: #f06468; border-radius: 50%; width: 18px; height: 18px; z-index: 2; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span.c-badge-active:after { top: -5px; right: 11px; border: 2px solid transparent; border-color: transparent transparent #fff #fff; width: 8px; height: 4px; -webkit-transform: rotate(-40deg); -ms-transform: rotate(-40deg); transform: rotate(-40deg); z-index: 3; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:hover { opacity: 1; -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span img { width: 73px; height: 63px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+1) { top: 63px; left: 1px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+2) { top: 1px; left: 109px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+3) { top: 125px; left: 108px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+4) { top: 64px; left: 217px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+5) { top: 63px; left: 109px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+6) { top: 95px; left: 54px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n+7) { top: 33px; left: 163px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(8n) { top: 187px; left: 109px; }

.c-list-selector .g-container .c-list-badges .c-list-badgewrap span:nth-child(n+9) { display: none; }

.c-list-selector .g-container .c-list-badges .c-list-bigbadge { position: absolute; top: 293px; left: 38px; width: 108px; }

.c-list-selector .g-container .c-list-badges .c-list-badgetext { position: absolute; width: 170px; height: 48px; line-height: 16px; font-size: 12px; top: 316px; left: 164px; font-weight: 300; overflow: hidden; color: #3d3a32; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper { position: absolute; top: 168px; left: 250px; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper i, .c-list-selector .g-container .c-list-badges .c-list-badges-swiper span { display: inline-block; background: url("../../libs/images/icons.png") no-repeat; width: 18px; height: 22px; cursor: pointer; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper span { background-position: -26px -37px; }

.c-list-selector .g-container .c-list-badges .c-list-badges-swiper i { background-position: 3px -37px; }

.c-list-selector .g-container .c-list-month-selector { float: left; width: 729px; }

.c-list-selector .g-container .c-list-month-selector .c-list-month { margin-left: 36px; width: 760px; margin-top: 46px; position: relative; }

.c-list-selector .g-container .c-list-month-selector .c-list-month:before { display: block; content: ""; position: absolute; background-color: #fff; width: 44px; height: 2px; top: 49px; left: -44px; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li { float: left; width: 15px; margin-right: 48px; height: 100px; text-align: center; font-size: 14px; color: #8b8b8d; line-height: 1; position: relative; font-weight: 300; cursor: pointer; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li span { display: block; position: relative; left: -15px; height: 100%; width: 30px; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:before, .c-list-selector .g-container .c-list-month-selector .c-list-month li i { display: block; content: ""; position: absolute; background-color: #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:before { width: 63px; height: 2px; top: 49px; left: 0; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li i { width: 12px; height: 12px; border-radius: 50%; top: 44px; left: -6px; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:last-child:before { display: none; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:nth-child(2n) span { padding-top: 86px; box-sizing: border-box; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:hover, .c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-point { font-weight: 700; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:hover i, .c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-point i { width: 16px; height: 16px; top: 42px; left: -8px; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li:hover i:before, .c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-point i:before { display: block; content: ""; width: 28px; height: 28px; border-radius: 50%; position: absolute; top: -7px; left: -7px; border: 1px solid #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-line:before { background-color: #a6d6dc; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-point { color: #a6d6dc; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-point i { background-color: #81c5ce; }

.c-list-selector .g-container .c-list-month-selector .c-list-month li.c-bright-point i:before { border-color: #a6d6dc; }

.c-list-selector .g-container .c-list-month-selector .c-list-years { width: 198px; padding: 0 20px; margin: 50px auto; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide { cursor: pointer; width: 66px; height: 22px; text-align: center; line-height: 18px; font-size: 12px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide.c-year-active span { background-color: #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide span { border: 2px solid #fff; border-right: none; display: block; font-weight: 300; color: #a3a3a6; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-wrapper .swiper-slide:last-child span { border-right: 2px solid #fff; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-next, .c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-prev { position: absolute; top: 0; background: #EBEAE8 url("../../libs/images/icons.png") no-repeat; width: 20px; height: 22px; cursor: pointer; z-index: 2; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-next { right: -2px; background-position: -26px -37px; }

.c-list-selector .g-container .c-list-month-selector .c-list-years .swiper-prev { left: 0; background-position: 0 -37px; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs { width: 690px; margin-left: 39px; height: 180px; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs .swiper-slide { width: 95px; margin-right: 23px; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs .swiper-slide a img { width: 95px; height: 133px; border: 2px solid #fff; box-sizing: border-box; }

.c-list-selector .g-container .c-list-month-selector .c-list-listimgs .swiper-pagination-bullet-active { background-color: #fff; }

.c-container { border-left: 3px solid #fff; border-bottom: 3px solid #fff; padding-bottom: 34px; position: relative; }

.c-container:after { position: absolute; content: ""; background-color: #fff; width: 6px; display: block; height: 200px; right: -50px; top: 50%; margin-top: -100px; }

.c-container .c-list-wrap { margin-left: 37px; }

.c-container .c-list-wrap .c-list-shownpart { overflow: hidden; background-color: #fafaf9; padding: 10px 0 10px 34px; margin-bottom: 64px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-img { display: block; float: left; margin: 18px 54px 0 0; position: relative; }

.c-container .c-list-wrap .c-list-shownpart .c-list-img img { width: 206px; height: 290px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-img.c-list-closed:after { position: absolute; top: 10px; right: -12px; content: ''; display: block; width: 63px; height: 20px; background: url("../../libs/images/icons.png") no-repeat 0 -100px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle { float: left; width: 260px; color: #221f1f; margin-right: 54px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle h3 { font-size: 22px; font-weight: 300; line-height: 46px; width: 690px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-tip { text-align: center; font-size: 14px; font-weight: 300; color: #868689; line-height: 14px; height: 14px; margin: -4px auto 10px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container { padding: 0 15px; margin-bottom: 22px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-slide { width: 45px; height: 30px; text-align: center; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-slide img { width: 34px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-next, .c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-prev { width: 15px; height: 30px; background-image: url("../../libs/images/icons.png"); background-repeat: no-repeat; top: 0; background-size: auto; margin-top: auto; background-color: #fafaf9; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-next { background-position: -108px -33px; right: 0; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .swiper-container .swiper-button-prev { background-position: -76px -33px; left: 0; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-detail { max-height: 140px; min-height: 80px; overflow: hidden; font-size: 14px; line-height: 20px; font-weight: 300; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-openbtn { float: right; color: #808083; font-size: 12px; margin-bottom: 10px; line-height: 20px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-openbtn:hover { color: #A6D6DC; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-likes { clear: both; overflow: hidden; line-height: 26px; font-size: 12px; font-weight: 300; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-likes li { float: left; width: 86px; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-likes li .g-icon { float: left; }

.c-container .c-list-wrap .c-list-shownpart .c-list-middle .c-list-likes li i { float: left; width: 60px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right { margin-top: 64px; float: left; width: 400px; overflow: hidden; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li { line-height: 18px; min-height: 18px; color: #838386; font-size: 14px; margin-bottom: 16px; font-weight: 300; overflow: hidden; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li i { float: left; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li em { overflow: hidden; display: block; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li em b { font-weight: 700; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li:last-child { font-weight: 700; }

.c-container .c-list-wrap .c-list-shownpart .c-list-right li:nth-child(4) { max-height: 36px; }

.c-container .c-list-wrap .c-list-hiddenpart { border-radius: 10px; padding-left: 54px; margin-top: -24px; background-color: #e5e3e0; position: relative; margin-bottom: 50px; display: none; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-arrow { display: block; height: 0; width: 0; overflow: hidden; border: 24px solid transparent; border-bottom-color: #e5e3e0; top: -48px; left: 100px; position: absolute; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-subbtn { display: block; margin: 20px auto; width: 180px; line-height: 34px; text-align: center; color: #fff; background-color: #e85c5f; font-weight: 300; border: 2px solid #f9f9f9; cursor: pointer; font-size: 18px; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap { float: left; width: 144px; margin-right: 53px; margin-bottom: 20px; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span { display: block; position: relative; height: 202px; overflow: hidden; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span img { width: 144px; height: 202px; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span em { display: none; width: 72px; height: 72px; position: absolute; right: 4px; bottom: 4px; background-color: #fff; border-radius: 36px; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span em b, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span em strong { width: 100%; position: absolute; text-align: center; left: 0; line-height: 1; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span em b { font-size: 22px; top: 16px; color: #000; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span em strong { font-size: 12px; top: 44px; color: #97979a; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap span:hover em { display: block; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(1) span:after, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(1) span:before, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(2) span:after, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(2) span:before, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(3) span:after, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(3) span:before { position: absolute; content: ''; display: block; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(1) span:before, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(2) span:before, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(3) span:before { background-color: #e7564d; border: 1px solid #fff; width: 50px; height: 50px; top: -27px; right: -27px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(1) span:after, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(2) span:after, .c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(3) span:after { line-height: 20px; color: #fff; text-align: center; content: "1"; top: 0; right: 0; width: 18px; font-size: 14px; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(2) span:after { content: "2"; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap:nth-of-type(3) span:after { content: "3"; }

.c-container .c-list-wrap .c-list-hiddenpart .c-list-imgswrap i { text-align: center; display: block; font-size: 14px; line-height: 28px; font-weight: 300; color: #808083; margin: 0 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

#c-display-imgbg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 888; }

.c-display-imgwrap { width: 70%; height: 70%; position: fixed; top: 15%; left: 15%; z-index: 889; text-align: center; }

.c-display-imgwrap img { max-height: 100%; max-width: 100%; position: relative; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); top: 50%; box-shadow: 5px 5px 10px #444444; }

/* detail.html sass start */
.d-container { background-color: #fff; border-radius: 10px; margin-bottom: 24px; overflow: hidden; }

.d-switcher { margin-top: 40px; }

.d-switcher .gallery-top { margin: 40px; margin-bottom: 0; }

.d-switcher .gallery-top .swiper-slide img { width: 100%; }

.d-switcher .gallery-top .swiper-slide span { display: none; position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 40px; box-sizing: border-box; font-size: 14px; line-height: 22px; font-weight: 300; color: #221f1f; max-height: 148px; overflow: hidden; background-color: rgba(255, 255, 255, 0.7); }

.d-switcher .gallery-top .swiper-button-next, .d-switcher .gallery-top .swiper-button-prev { display: none; }

.d-switcher .gallery-top:hover .swiper-slide span { display: block; }

.d-switcher .gallery-top:hover .swiper-button-next, .d-switcher .gallery-top:hover .swiper-button-prev { display: block; }

.d-switcher .gallery-thumbs { margin: 0 40px 20px; background-color: #f4f4f2; }

.d-switcher .gallery-thumbs .swiper-slide { width: 100px; opacity: 0.4; margin: 10px 0; max-height: 200px; overflow: hidden; }

.d-switcher .gallery-thumbs .swiper-slide img { width: 100%; cursor: pointer; }

.d-switcher .gallery-thumbs .swiper-slide-active { opacity: 1; }

.d-switcher .d-mark-score { margin: 20px 40px; font-weight: 300; position: relative; color: #87878a; margin-bottom: 50px; }

.d-switcher .d-mark-score .d-mark-itemname { line-height: 30px; font-size: 12px; }

.d-switcher .d-mark-score .d-mark-line { height: 2px; background-color: #e5e5e5; position: absolute; right: 0; top: 44px; left: 70px; }

.d-switcher .d-mark-score .d-mark-line:after, .d-switcher .d-mark-score .d-mark-line:before { content: ""; display: block; position: absolute; width: 6px; height: 6px; border-radius: 50%; top: -2px; left: -3px; background-color: #e5e5e5; }

.d-switcher .d-mark-score .d-mark-line:after { left: 270px; }

.d-switcher .d-mark-score .d-mark-scoretips { position: absolute; height: 58px; top: 14px; left: 70px; border: 2px solid #e5e5e5; border-left: none; border-radius: 0 29px 29px 0; width: 300px; }

.d-switcher .d-mark-score .d-mark-scoretips:after, .d-switcher .d-mark-score .d-mark-scoretips:before, .d-switcher .d-mark-score .d-mark-scoretips i:before, .d-switcher .d-mark-score .d-mark-scoretips i:after { content: ""; display: block; position: absolute; width: 6px; height: 6px; border-radius: 50%; background-color: #e5e5e5; }

.d-switcher .d-mark-score .d-mark-scoretips:before { top: -4px; left: -3px; }

.d-switcher .d-mark-score .d-mark-scoretips:after { bottom: -4px; left: -3px; }

.d-switcher .d-mark-score .d-mark-scoretips i:before { top: -4px; right: 24px; }

.d-switcher .d-mark-score .d-mark-scoretips i:after { right: 24px; bottom: -4px; }

.d-switcher .d-mark-score .d-mark-scoretips span { display: block; position: absolute; width: 20px; height: 28px; left: -10px; line-height: 18px; font-size: 12px; text-align: center; cursor: ew-resize; z-index: 1; }

.d-switcher .d-mark-score .d-mark-scoretips span:after { width: 10px; height: 10px; border-radius: 5px; content: ""; display: block; position: absolute; top: 18px; left: 5px; }

.d-switcher .d-mark-score .d-mark-scoretips span:nth-child(1) { top: -24px; }

.d-switcher .d-mark-score .d-mark-scoretips span:nth-child(1):after { background-color: #ea2127; }

.d-switcher .d-mark-score .d-mark-scoretips span:nth-child(2) { top: 5px; }

.d-switcher .d-mark-score .d-mark-scoretips span:nth-child(2):after { background-color: #f6f0b5; }

.d-switcher .d-mark-score .d-mark-scoretips span:nth-child(3) { top: 36px; }

.d-switcher .d-mark-score .d-mark-scoretips span:nth-child(3):after { background-color: #28aae1; }

.d-switcher .d-mark-score .d-circle { color: #221f1f; width: 70px; height: 35px; position: absolute; display: block; top: 50%; margin-top: -38px; background-color: #fff; border: 2px solid #e5e5e5; border-bottom-color: #fff; border-radius: 35px 35px 0 0; }

.d-switcher .d-mark-score .d-circle:after { display: block; text-align: center; width: 100%; position: absolute; left: 0; bottom: -50px; color: #434040; font-size: 12px; }

.d-switcher .d-mark-score .d-circle span { display: block; text-align: center; position: absolute; top: 50%; width: 100%; margin-top: 9px; line-height: 1; font-size: 18px; }

.d-switcher .d-mark-score .d-circle canvas { margin: 5px; }

.d-switcher .d-mark-score .d-mark-circle1 { left: 490px; }

.d-switcher .d-mark-score .d-mark-circle1:after { content: "CONTENT"; }

.d-switcher .d-mark-score .d-mark-circle2 { left: 590px; }

.d-switcher .d-mark-score .d-mark-circle2:after { content: "FORM"; }

.d-switcher .d-mark-score .d-mark-circle3 { left: 690px; }

.d-switcher .d-mark-score .d-mark-circle3:after { content: "TECHNIQUE"; }

.d-switcher .d-mark-score .d-mark-circle4 { left: 814px; border-radius: 0 0 55px 55px; width: 110px; height: 55px; top: 44px; margin-top: 0; border-top-color: #fff; border-bottom-color: #e5e5e5; }

.d-switcher .d-mark-score .d-mark-circle4:after { content: "AVERAGE"; bottom: -23px; }

.d-switcher .d-mark-score .d-mark-circle4 canvas { margin-top: -50px; }

.d-switcher .d-mark-score .d-mark-circle4 span { top: 0; margin-top: -12px; font-size: 24px; }

.d-switcher .d-mark-score .d-mark-circle5 { right: 0; border-radius: 0 0 20px 20px; width: 40px; height: 20px; top: 44px; margin-top: 0; border-top-color: #fff; border-bottom-color: #e5e5e5; }

.d-switcher .d-mark-score .d-mark-circle5:after { content: "Rated"; bottom: 10px; color: #87878a; font-size: 10px; }

.d-switcher .d-mark-score .d-mark-circle5 span { top: -20px; margin-top: 0; font-size: 14px; color: #87878a; width: 200%; left: -50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.d-switcher .d-mark-score .d-mark-subbtn { display: block; width: 70px; line-height: 18px; text-align: center; color: #fff; background-color: #e85c5f; font-weight: 300; border: 1px solid #f8b7b9; cursor: pointer; font-size: 12px; position: absolute; top: 100px; left: 145px; }

.d-switcher .d-mark-score .d-mark-subbtn.d-disabled { opacity: .5; }

.d-otherartists .d-otherartists-tip { width: 900px; margin: 20px auto; overflow: hidden; padding-left: 34px; font-weight: 300; font-size: 16px; color: #808083; }

.d-otherartists ul { width: 900px; margin: 20px auto; overflow: hidden; padding-left: 34px; }

.d-otherartists ul li { float: left; width: 277px; border-right: 1px solid #efeff0; margin-right: 33px; padding-bottom: 20px; }

.d-otherartists ul li:last-child { border: none; margin-right: 0; }

.d-otherartists ul li a { float: left; margin-right: 22px; position: relative; }

.d-otherartists ul li a img { width: 64px; height: 64px; border-radius: 50%; }

.d-otherartists ul li a i { display: block; text-align: center; font-size: 12px; color: #939395; line-height: 1; width: 128px; position: absolute; bottom: -18px; left: -32px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.d-otherartists ul li em { margin-right: 22px; font-size: 12px; line-height: 1; color: #939395; float: left; display: block; margin-top: 20px; width: 38px; }

.d-otherartists ul li em span { display: block; text-align: center; margin-top: -25px; }

.d-about-artist ul { width: 900px; margin: 20px auto; overflow: hidden; padding-left: 34px; }

.d-about-artist li { float: left; font-weight: 300; }

.d-about-artist li .g-about-artist-title { line-height: 32px; }

.d-about-artist li .g-about-artist-title span, .d-about-artist li .g-about-artist-title em, .d-about-artist li .g-about-artist-title i { display: inline-block; vertical-align: middle; }

.d-about-artist li .g-about-artist-title span { font-size: 24px; color: #221f1f; max-width: 220px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: -8px; }

.d-about-artist li .g-about-artist-title em { font-size: 16px; margin-right: 10px; line-height: 24px; }

.d-about-artist li .g-about-artist-title i { color: #fff; background-color: #f1f0ee; width: 24px; height: 24px; border-radius: 12px; font-size: 10px; line-height: 24px; text-align: center; vertical-align: middle; }

.d-about-artist li .g-about-artist-name { color: #807e7e; font-size: 14px; line-height: 28px; }

.d-about-artist li .swiper-container { padding: 0 30px; margin-top: 30px; }

.d-about-artist li .swiper-container .swiper-slide { width: 59px; height: 30px; text-align: center; }

.d-about-artist li .swiper-container .swiper-slide img { width: 34px; height: 30px; }

.d-about-artist li .swiper-container .swiper-button-next, .d-about-artist li .swiper-container .swiper-button-prev { width: 35px; height: 30px; background-image: url("../../libs/images/icons.png"); background-repeat: no-repeat; top: 0; background-size: auto; margin-top: auto; background-color: #fff; }

.d-about-artist li .swiper-container .swiper-button-next { background-position: -98px -33px; right: 0; }

.d-about-artist li .swiper-container .swiper-button-prev { background-position: -66px -33px; left: 0; }

.d-about-artist li:nth-child(1) { text-align: center; width: 70px; margin-right: 20px; }

.d-about-artist li:nth-child(1) img { width: 64px; height: 64px; border-radius: 50%; }

.d-about-artist li:nth-child(1) button { display: block; width: 70px; line-height: 18px; color: #fff; background-color: #e85c5f; font-weight: 300; border: 1px solid #f8b7b9; cursor: pointer; font-size: 12px; margin-top: 10px; outline: none; }

.d-about-artist li:nth-child(1) button.d-disabled { opacity: .5; }

.d-about-artist li:nth-child(2) { padding-top: 15px; width: 360px; margin-right: 20px; }

.d-about-artist li:nth-child(3) { width: 360px; }

.d-comment dl { width: 900px; margin: 20px auto; overflow: hidden; padding-left: 34px; font-weight: 300; }

.d-comment dt { height: 30px; font-size: 16px; color: #808083; }

.d-comment dd { padding-bottom: 30px; }

.d-comment dd .d-comment-img { display: block; float: left; overflow: hidden; margin-right: 10px; }

.d-comment dd .d-comment-img img { width: 48px; height: 48px; border-radius: 50%; }

.d-comment dd .d-comment-text { overflow: hidden; }

.d-comment dd .d-comment-text .d-comment-name { font-size: 14px; color: #aaaaac; display: block; line-height: 28px; }

.d-comment dd .d-comment-text .d-comment-name a { font-size: 16px; color: #221f1f; }

.d-comment dd .d-comment-text i { display: block; color: #686666; font-size: 14px; line-height: 20px; }

.d-comment dd .d-comment-text textarea { width: 750px; height: 46px; box-sizing: border-box; background-color: #f1f0ee; border: 1px solid #e9e9ea; border-radius: 6px; line-height: 22px; padding: 0 10px; font-size: 14px; outline: none; }

.d-comment dd .d-comment-text button { display: inline-block; width: 70px; line-height: 18px; color: #fff; background-color: #e85c5f; border: 1px solid #f8b7b9; cursor: pointer; font-size: 12px; outline: none; position: relative; bottom: 5px; left: 10px; margin-top: 20px; }

.d-comment dd .d-comment-text button.d-disabled { opacity: .5; }

.d-comment-pagenation { font-weight: 300; color: #a6d6dc; text-align: center; margin: 30px; }

.d-comment-pagenation span { border: 1px solid #a6d6dc; display: inline-block; height: 24px; line-height: 24px; padding: 0 9px; margin: 0 5px; cursor: pointer; font-size: 12px; }

.d-comment-pagenation span.on { color: #fff; background-color: #a6d6dc; }

.d-comment-pagenation span.unclick { opacity: .5; }
