@mixin cliptext{
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.u-usercenter{
	.userinfo{
		text-align:center;
		font-size:22px;
		.name{
			color:#455258;
			margin-top:60px;
			margin-bottom:60px;
			span{
				display:inline-block;
				font-size:32px;
				font-weight:normal;
				position:relative;
				line-height:40px;
				margin-bottom:15px;
				i{
					font-weight:300;
					font-size:12px;
					position:absolute;
					right:-70px;
					border:1px solid #909294;
					color:#909294;
					width:50px;
					height:16px;
					line-height:16px;
					top:14px;
					cursor:pointer;
				}
			}
			em{
				display:block;
				font-size:18px;
				font-weight:normal;
			}
		}
		.user-profile{
			width:1000px;
			height:420px;
			position:relative;
			margin:0 auto;
			.user-img{
				position:absolute;
				top:38px;
				width:195px;
				height:169px;
				left:403px;
			}
			.user-img-cover{
				position:absolute;
				top:31px;
				width:207px;
				height:181px;
				left:397px;
				background:url("../images/userImgCover.png") no-repeat;
				border:0 none;
				outline:0 none;
			}
			.user-profile-lines{
				position:absolute;
				top:17px;
				left:165px;
				width:670px;
				height:210px;
				background:url("../images/userInfoBg.png") no-repeat;
			}
			.follower,.following,.address,.job{
				@include cliptext;
				position:absolute;
				font-weight:normal;
				padding:0 10px;
			}
			.follower,.following{
				height:30px;
				line-height:30px;
				width:135px;
				border:2px solid #fff;
				font-size:14px;
				color:#455258;
				text-decoration:none;
				&:hover{
					color:lighten(#455258,10%);
				}
			}
			.follower{
				top:2px;
				left:130px;
			}
			.following{
				top:46px;
				left:170px;
			}
			.address,.job{
				height:46px;
				line-height:46px;
				background-color:#fff;
				color:#455258;
			}
			.address{
				font-size:12px;
				top:23px;
				right:104px;
				width:210px;
			}
			.job{
				font-size:13px;
				width:145px;
				left:80px;
				top:140px;
			}
			.about{
				border:2px solid #fff;
				position:absolute;
				font-weight:normal;
				padding:15px;
				font-size:13px;
				text-align:left;
				line-height:24px;
				width:265px;
				background-color:#79888f;
				right:62px;
				top:165px;
				color:#fff;
				max-height:86px;
				overflow:hidden;
			}
		}
	}
	.user-badges{
		.title{
			color:#455258;
			margin-bottom:60px;
			font-size:32px;
			text-align:center;
			font-weight:normal;
			line-height:40px;
		}
		.badge-wrap{
			position:relative;
			width:1050px;
			height:449px;
			background:url("../images/badgesbg.png") no-repeat;
			margin:0 auto 150px;
			.badges{
				position:absolute;
				span{
					position:absolute;
					width:70px;
					height:61px;
					opacity:.6;
					cursor:pointer;
				    transition: transform .2s ease;
					img{
						width:70px;
						height:61px;
					}
					&:hover{
						z-index:1;
						opacity:1;
						transform:scale(1.1);
					}
					&.badge-1{
						top:70px;
						left:1px;
					}
					&.badge-2{
						top:39px;
						left:52px;
					}
					&.badge-3{
						top:98px;
						left:53px;
					}
					&.badge-4{
						top:157px;
						left:53px;
					}
					&.badge-5{
						top:10px;
						left:104px;
					}
					&.badge-6{
						top:69px;
						left:104px;
					}
					&.badge-7{
						top:128px;
						left:103px;
					}
					&.badge-8{
						top:187px;
						left:103px;
					}
					&.badge-9{
						top:39px;
						left:155px;
					}
					&.badge-10{
						top:98px;
						left:154px;
					}
					&.badge-11{
						top:157px;
						left:154px;
					}
					&.badge-12{
						top:128px;
						left:205px;
					}
					&.badge-13{
						top:187px;
						left:204px;
					}
					&.badge-14{
						top:39px;
						left:257px;
					}
					&.badge-15{
						top:98px;
						left:257px;
					}
					&.badge-16{
						top:10px;
						left:308px;
					}
					&.badge-17{
						top:69px;
						left:308px;
					}
					&.badge-18{
						top:128px;
						left:309px;
					}
					&.badge-19{
						top:187px;
						left:309px;
					}
					&.badge-20{
						top:39px;
						left:359px;
					}
					&.badge-21{
						top:98px;
						left:360px;
					}
					&.badge-22{
						top:157px;
						left:360px;
					}
					&.badge-23{
						top:68px;
						left:412px;
					}
					&.badge-24{
						top:128px;
						left:412px;
					}
					&.badge-25{
						top:39px;
						left:464px;
					}
					&.badge-26{
						top:98px;
						left:464px;
					}
					&.badge-27{
						top:8px;
						left:515px;
					}
					&.badge-28{
						top:68px;
						left:515px;
					}
					&.badge-29{
						top:128px;
						left:515px;
					}
					&.badge-30{
						top:38px;
						left:566px;
					}
					&.badge-31{
						top:97px;
						left:566px;
					}
					&.badge-32{
						top:157px;
						left:567px;
					}
					&.badge-33{
						top:8px;
						left:618px;
					}
					&.badge-34{
						top:68px;
						left:618px;
					}
					&.badge-35{
						top:128px;
						left:618px;
					}
					&.badge-36{
						top:39px;
						left:669px;
					}
					&.badge-37{
						top:98px;
						left:669px;
					}
					&.badge-38{
						top:9px;
						left:722px;
					}
					&.badge-39{
						top:69px;
						left:721px;
					}
					&.badge-40{
						top:129px;
						left:721px;
					}
					&.badge-41{
						top:38px;
						left:772px;
					}
					&.badge-42{
						top:97px;
						left:772px;
					}
					&.badge-43{
						top:157px;
						left:773px;
					}
					&.badge-44{
						top:67px;
						left:824px;
					}
					&.badge-45{
						top:127px;
						left:824px;
					}
					&.badge-46{
						top:38px;
						left:876px;
					}
					&.badge-47{
						top:97px;
						left:876px;
					}
					&.badge-48{
						top:157px;
						left:876px;
					}
					&.badge-49{
						top:10px;
						left:928px;
					}
					&.badge-50{
						top:69px;
						left:927px;
					}
					&.badge-51{
						top:128px;
						left:928px;
					}
					&.badge-52{
						top:187px;
						left:927px;
					}
					&.badge-53{
						top:97px;
						left:979px;
					}
				}
			}
			.note{
				position:absolute;
				color:#455258;
				font-size:12px;
				line-height:16px;
				top:363px;
				left:138px;
				width:180px;
				height:48px;
				overflow:hidden;
			}
			.name{
				position:absolute;
				color:#fff;
				top:381px;
				width:95px;
				@include cliptext;
				line-height:20px;
				height:20px;
				left:372px;
				text-align:center;
				font-size:16px;
				font-weight:normal;
			}
			.big-badge{
				position:absolute;
				width:130px;
				height:114px;
				top:335px;
				left:487px;
				display:none;
			}
			.level{
				position:absolute;
				color:#455258;
				top:456px;
				width:95px;
				@include cliptext;
				line-height:20px;
				height:20px;
				left:505px;
				text-align:center;
				font-size:16px;
				font-weight:normal;
			}
			.next-level{
				position:absolute;
				color:#fff;
				top:381px;
				width:95px;
				@include cliptext;
				line-height:20px;
				height:20px;
				left:635px;
				text-align:center;
				font-size:16px;
				font-weight:normal;
			}
			.target{
				position:absolute;
				top:373px;
				left:779px;
				width:167px;
				height:34px;
				text-align:center;
				li{
					text-align:left;
					display:inline-block;
					width:44px;
					color:#909294;
					padding-left:6px;
					&.on{
						color:#455258;
					}
					&:not(:last-child){
						border-right:1px solid #455258;
					}
					strong,span,em{
						display:block;
						line-height:1;
					}
					strong{
						font-size:16px;
						font-weight:normal;
					}
					span{
						font-size:12px;
					}
					em{
						font-size:14px;
					}
				}
			}
		}
	}
	.info-tab{
		margin-bottom:100px;
		.title{
			color:#455258;
			margin-bottom:60px;
			font-size:32px;
			text-align:center;
			font-weight:normal;
			line-height:40px;
		}
		.tabs-wrap{
			width:1000px;
			margin:0 auto;
			overflow:hidden;
			.side-bar{
				width:140px;
				float:left;
				padding:40px 0;
				li{
					position:relative;
					text-align:center;
					cursor:pointer;
					height:85px;
					color:#909294;
					.u-icon{
						display:inline-block;
						width:40px;
						height:40px;
						background:url("../images/icons.png") no-repeat;
						background-size:80px;
						&.u-icon-statistic{
							background-position:0 0;
						}
						&.u-icon-profile{
							background-position:0 -40px;
						}
						&.u-icon-gallery{
							background-position:0 -80px;
						}
						&.u-icon-magazine{
							background-position:0 -120px;
						}
						&.u-icon-competition{
							background-position:0 -160px;
						}
						&.u-icon-team{
							background-position:0 -200px;
						}
						&.u-icon-social{
							background-position:0 -240px;
						}
						&.u-icon-mail{
							background-position:0 -280px;
						}
						&.u-icon-setting{
							background-position:0 -320px;
						}
					}
					&.on{
						color:#455258;
						.u-icon-statistic{
							background-position:-40px 0;
						}
						.u-icon-profile{
							background-position:-40px -40px;
						}
						.u-icon-gallery{
							background-position:-40px -80px;
						}
						.u-icon-magazine{
							background-position:-40px -120px;
						}
						.u-icon-competition{
							background-position:-40px -160px;
						}
						.u-icon-team{
							background-position:-40px -200px;
						}
						.u-icon-social{
							background-position:-40px -240px;
						}
						.u-icon-mail{
							background-position:-40px -280px;
						}
						.u-icon-setting{
							background-position:-40px -320px;
						}
					}
					span{
						display:block;
						line-height:24px;
					}
				}
			}
			.tabs{
				width:856px;
				border:2px solid #fff;
				float:right;
				.item{
					display:none;
					&.on{
						display:block;
					}
					.topbar{
						text-align:center;
						overflow:hidden;
						cursor:pointer;
						line-height:28px;
						font-size:14px;
						span{
							float:left;
							position:relative;
							border-bottom:2px solid #fff;
							@include cliptext;
							&.on{
								background-color:#f4f4f2;
								border-bottom:2px solid #f4f4f2;
								font-weight:normal;
							}
							&:hover{
								color:lighten(#455258,10%);
							}
							&:not(:last-child):after{
								content:"";
								height:30px;
								width:2px;
								background-color:#fff;
								position:absolute;
								right:0;
								top:0;
							}
						}
						&.divide-2 span{
							width:50%;
						}
						&.divide-3 span{
							width:33.333333%;
						}
						&.divide-4 span{
							width:25%;
						}
						&.divide-5 span{
							width:20%;
						}
						&.divide-6 span{
							width:16.6666666%;
						}
						&.divide-7 span{
							width:14.2857143%;
						}
						&.divide-8 span{}
					}
					.tab-wrap{
						.tab{
							display:none;
							overflow:hidden;
							background-color:#f4f4f2;
							min-height:800px;
							&.on{
								display:block;
							}
						}
					}
				}
			}
			.work-list{
				width:720px;
				margin:50px auto;
				ul{
					width:800px;
					overflow:hidden;
				}
				li{
					float:left;
					width:200px;
					margin-right:60px;
					height:306px;
					.upload{
						width:100%;
						height:230px;
						display:block;
						background-color:#d0d1d2;
						position:relative;
						&:before,&:after{
							content:"";
							display:block;
							position:absolute;
							background-color:#fff;
						}
						&:before{
							width:16px;
							height:78px;
							left:92px;
							top:76px;
						}
						&:after{
							height:16px;
							width:78px;
							top:107px;
							left:61px;
						}
					}
					.work-img{
						width:100%;
						height:230px;
						display:block;
						img{
							display:block;
							width:100%;
							height:230px;
						}
					}
					.work-name{
						line-height:30px;
						font-size:14px;
						text-align:center;
						@include cliptext;
						width:180px;
						margin:0 auto;
						display:block;
					}
					.work-scores{
						line-height:26px;
						width:190px;
						margin:0 auto;
						dt{
							float:right;
							height:26px;
							width:26px;
							position:relative;
							transform:rotate(45deg);
							cursor:pointer;
							&:before,&:after{
								content:"";
								display:block;
								position:absolute;
								background-color:red;
							}
							&:before{
								width:4px;
								height:18px;
								left:11px;
								top:4px;
							}
							&:after{
								height:4px;
								width:18px;
								top:11px;
								left:4px;
							}
						}
						dd{
							float:left;
							width:54px;
							a{
								float:left;
							}
							i{
								float:left;
								font-size:12px;
								width:28px;
								overflow:hidden;
							}
						}
					}
				}
			}
		}
	}
}



